#editorContainer{
    /* height: auto; */
    min-height:-webkit-fill-available;
    
    width: 48vw;
    /* background-color: aqua; */
    padding: 0.4em 0.2em 0.2em 0.5em;
    /* border-right: 0.2em solid black; */

}

#editor{
    height: auto;
    min-height: inherit;
    width:48vw;
    overflow-y:auto;
    border: 0;
    resize: none;
}